* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Josefin Sans;
}
.header {
  background-image: url(images/header-bg.png);
  min-height: 870px;
  background-position: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1280px;
  margin: auto;
}
.header__menu {
  padding-top: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-title {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
.header__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 19px;
}
.header__li {
  display: flex;
  align-items: center;
  gap: 7px;
}
.header__link {
  text-align: center;
  font-size: 16;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__button {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background: #5e4dcd;
  padding: 16px 40px 14px;
  font-family: Josefin Sans;
  transition-duration: 0.3s;
}
.header__button--bigger {
  background-color: #ffd2dd;
  color: #5e4dcd;
}
.header__button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 1170px) {
  .header__menu {
    flex-direction: column;
    gap: 50px;
  }
  .header__menu-title {
    font-size: 36px;
  }
}
@media (max-width: 830px) {
  .header__links {
    flex-direction: column;
  }
  .header__link {
    font-size: 20px;
  }
}
@media (max-width: 340px) {
  .header__buttons {
    flex-direction: column;
  }
  .header__menu-title {
    line-height: 42px;
  }
}
.header__content {
  max-width: 770px;
  margin-top: 264px;
  padding-bottom: 100px;
}
.header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #ffffff;
  position: relative;
  margin-bottom: 40px;
  max-width: 770px;
  position: relative;
}
.header__title::after {
  left: -160px;
  top: -130px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 558px;
  height: 558px;
  background-image: url(images/header-bg3.png);
  border-radius: 50%;
  opacity: 0.5;
  background: #ffd2dd;
  z-index: 0;
}
.header__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  max-width: 470px;
  position: relative;
}
.header__button--biggest {
  margin-top: 40px;
  padding: 24px 80px 22px 80px;
  background-color: #5e4dcd;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
  position: relative;
}
@media (max-width: 540px) {
  .header__title::after {
    display: none;
  }
  .header__content {
    text-align: center;
  }
  .header__title {
    font-size: 50px;
  }
}
